      <!-- Seccion Banner-->
      <section class="banner">
        <h1 class="text-white text-center pt-5">Hola, soy Jairo Villarroel <br> Estudiante de Arquitectura y Desarrollador Full Stack Jr.</h1>
      </section>
      
      <!-- Presentacion-->
      <section class="presentacion mt-3" >
        <h2 class="text-md-center text-white pt-3"> <span> Acerca de mi </span></h2>
       <div class="container text-sm-start">
        <div class="row">
          <div class="col-5">
            <img src="../assets/img/IMG_20191007_235154_723.jpg" alt="Foto perfil" class="rounded-circle img-fluid w-50">
          </div>
          <div class="col-6">
            <h4 class="info pt-3 text-white">Soy Maestro Mayor de Obras recibido de la Escuela Tecnica N°3 de San Miguel de Tucuman en el año 2017, actualmente en la carrera de Arquitectura y Urbanismo de la UNT, puedo mencionar que hoy en dia es mi pasion y cuando tengo que realizar proyectos doy lo mejor para obtener resultados de calidad.</h4>
          </div>
        </div>
      </div>
      
      <!-- Habilidades-->
      <section class="habilidades" >
        <h2 class="text-center text-white"> <span> Habilidades </span></h2>
      <!-- cartas-->
       <div class="container text-lg-center">
         <div class="row">
      
          <div class="col-5 order-first">
            <div class="card-img-bottom mt-2" style="width: 16rem;" >
              <img src="../assets/img/conversacion.png" class="card-img-top" alt="trabajo en equipo">
                <div class="card-body">
                 <h3><p class="card-text mt-1 text-white">Trabajo en equipo</p></h3>
                 <h4 class="text mt-3 text-white">Lo que aprendi a lo largo de la carrera es que se consigue mejores resultados al estar trabajando alrededor de personas ya sea en grupo o en solitario </h4>
                </div>
            </div>
          </div>
      
          <div class="col">
            <div class="card-img-bottom mt-2" style="width: 16rem;" >
              <img src="./assets/img/lanza-libre.png" class="card-img-top mt" alt="programas">
                <div class="card-body">
                 <h3><p class="card-text mt-1 text-white">Herramientas</p></h3>
                 <h4 class="text mt-3 text-white">Tengo experiencia en el manejo de programas como photoshop, corel, excel y programas para Arq. como Sketchup, Rhinoceros, Twinmotion y Autocad</h4>
                </div>
            </div>
          </div>
      
          <div class="col-2 order-last">
            <div class="card-img mt-2" style="width: 16rem;" >
              <img src="./assets/img/inspiracion.png" class="card-img-top" alt="creatividad">
                <div class="card-body">
                 <h3><p class="card-text mt-1 text-white">Creatividad</p></h3>
                 <h4 class="text mt-3 text-white">En cada proyecto hay siempre muchas posibilidades, pero lo que hace la diferencia es que tu idea sea la que perdure durante todo el proceso.</h4>
                </div>
            </div>
           </div>
          </div>
        </div>
       </section>
      </section>
      
       <!-- slider-->
      <section class="slider mt-3">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div id="carouselExampleFade" class="carousel slide carousel-fade mt-4" data-bs-ride="carousel">
              <div class="carousel-inner container-fluid w-75">
                <div class="carousel-item active">
                  <img src="./assets/img/Conjuto porosidades.png" class="d-block img-fluid" alt="porosidades">
                </div>
                <div class="carousel-item">
                  <img src="./assets/img/Imagen11_001.png" class="d-block img-fluid" alt="plegado">
                </div>
                <div class="carousel-item">
                  <img src="./assets/img/Imagen2_000.png" class="d-block img-fluid" alt="fractal">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            </div>
          </div>
      
          <div class="row">
            <div class="col-12">
              <h3 class="text-white pt-3"> Estas imagenes son un breve vistazo a mi trayectoria de los ultimos proyectos que hice para la carrera, claramente son diferentes entre si, ya que experimentar con diferentes entornos, materiales y espacios te hacen comprender que siempre hay variedad de problematicas a resolver y no siempre sera la misma solucion</h3>
            </div>
          </div>
        </div>
      </section>
      