<app-login></app-login>
<nav class="navbar navbar-expand-md navbar-light bg-black">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="./assets/img/APLogo-20-20.png"  alt="Logo" class="w-25" >
      </a>
         <ul class="list-group list-group-horizontal">
          <li class="list-group-item bg-transparent">
            <a href="https://github.com/VillarroelJairo" target="_blank"><span style=" color: plum;"> <i class="bi bi-github btn" style="font-size: 2rem;"></i></span></a>
          </li>
          <li class="list-group-item bg-transparent">
            <a href="https://www.facebook.com/jairo.villarroel.3/" target="_blank"><span style=" color: cornflowerblue;"> <i class="bi bi-facebook btn" style="font-size: 2rem;"></i> </span></a>
          </li>
          <li class="list-group-item bg-transparent">
            <a href="https://www.instagram.com/villarroel__jairo/" target="_blank"><span style=" color: gainsboro;"> <i class="bi bi-instagram btn" style="font-size: 2rem;"></i> </span></a>
          </li>
          <li class="list-group-item bg-transparent"> 
            <!-- Button trigger modal -->
            <span style=" color: whitesmoke;"> 
              <i data-bs-toggle="modal" data-bs-target="#loginModal" class="bi bi-person-circle btn" style="font-size: 2rem;"></i>
             </span>
          </li>
         </ul>
    </div>
  </nav>
